
<table>
<!-- ---------------------------------------- -->
  <tr>
    <td>
      <a name="wallet" style="position:relative; top:-90px;"></a>
      <table>
        <tr>
          <td class="td_1" align="center">Wallet</td>
        </tr>
      </table>
    </td>
  </tr>
<!-- -------------------- -->
  <tr>
    <td class="td_2" align="center">
      <table>
        <tr>
          <td class="td_3"><img class="img_computer"
            src="../../../assets/images/computer.png"></td>
          <td><img class="img_phone" src="../../../assets/images/phone.png">
          </td>
        </tr>
        <tr>
          <td><a class="a_1" href={{download}}>UNIVERSAL WALLET</a></td>
          <td>Android*</td>
        </tr>
        <tr>
          <td>For Windows, MacOS and Linux</td>
          <td>iOS*</td>
        </tr>
        <tr>
          <td>Works in Chrome, Firefox and Safari</td>
        </tr>
        <tr>
          <td></td>
          <td class="td_4">*Currently not available</td>
        </tr>
      </table>
    </td>
  </tr>
<!-- ---------------------------------------- -->
  <tr>
    <td>
      <a name="team" style="position:relative; top:-90px;"></a>
      <table>
        <tr>
          <td class="td_1" align="center">Team</td>
        </tr>
      </table>
    </td>
  </tr>
<!-- -------------------- -->
  <tr>
    <td class="td_2" align="center">
      <table class="table_0">
        <tr align="center">
          <td><br>            
            <img class="img_profile" src="../../../assets/images/profile.jpg">
            <p>Matthew Robson<br>Founder-CEO</p>
          </td>
        </tr>
        <tr>
          <td class="td_5">
            <p>Matthew became aware of cryptocurrencies in early 2014 and<br>
              quickly developed an inquisitive interest in their power to<br>
              reinvent and replace traditional systems. He works full-time in
              <br>the crypto-space and is dedicated to devising and<br>
              implementing useful cryptocurrency technologies across the globe.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<!-- ---------------------------------------- -->
  <tr>
    <td>
      <a name="roadmap" style="position:relative; top:-90px;"></a>
      <table>
        <tr>
          <td class="td_1" align="center">Roadmap</td>
        </tr>
      </table>
    </td>
  </tr>
<!-- -------------------- -->
  <tr>
    <td class="td_2" align="center">
      <table class="table_0">
        <tr align="center">
          <td><br>     
            <img class="img_roadmap" src="../../../assets/images/roadmap.jpg">
          </td>
        </tr>
      </table>
    </td>
  </tr>
<!-- ---------------------------------------- -->
</table>
