
<table width="100%">
  <tr>
    <td align="right">
      <a name="social" style="position:relative; top:-90px;"></a>
      <table class="table_1">
        <tr>
          <td class="td_1">Social links:</td>
        </tr>
        <tr>
          <td><a class="a_1" href="https://github.com/SphinksProject"
            target="_blank">GitHub</a>
          </td>
        </tr>
        <tr>
          <td><a class="a_1"
            href="https://bitcointalk.org/index.php?topic="
            target="_blank">BitcoinTalk</a>
          </td>
        </tr>
        <tr>
          <td><a class="a_1" href="https://twitter.com/SphinksProject"
            target="_blank">Twitter</a>
          </td>
        </tr>
        <tr>
          <td><a class="a_1" href="mailto:Support@sphinks.org"
            target="_blank">Support@sphinks.org</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
