
<table class="table_0">
  <tr>
    <td class="td_0" align="center">
      <table class="table_1">
        <tr>
          <td>
            <table>
              <tr>
                <td class="td_1" align="center">
                  <table>
                    <tr>
                      <td>Whitepaper</td>
                      <td class="td_6">(9 pages)</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      <!-- -------------------- -->
        <tr>
          <td align="center">
            <table class="table_2">
              <tr>
                <td><br>
                  <h4><b>Sphinks Token</b></h4>
                  <h5><b>A stable and decentralized cryptocurrency</b></h5>
                  <p>Date of initial release: 12 July 2019</p>
                  <p>Last updated: 12 July 2019</p>
                  <p>Version: 0.5</p>
                  <p>Developer: Matthew Robson</p>
                  <p>Website: Sphinks.org</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      <!-- -------------------- -->
        <tr>
          <td class="td_7">
            <table>
              <tr>
                <td>
                  <p class="p_2">&nbsp;&nbsp;&nbsp;Contents</p>
                  <ul class="p_1" type="square">
                    <li><a href="whitepaper#abstract">Abstract</a></li>
                    <li><a href="whitepaper#introduction">Introduction</a></li>
                    <li><a href="whitepaper#tokenIssuance">Token issuance</a>
                      </li>
                    <li><a href="whitepaper#governance">Governance</a></li>
                    <li><a href="whitepaper#fiatInflationContingency">Fiat
                      inflation contingency</a></li>
                    <li><a href="whitepaper#additionalDetails">Additional
                      details</a></li>
                    <li><a href="whitepaper#futureDevelopments">Future
                      developments</a></li>
                    <li><a href="whitepaper#changeLog">Change log</a></li>
                  </ul>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center">
            <table width="600px">
              <tr>
                <td>
                  <a name="abstract" style="position:relative; top:-90px;"></a>
                  <p class="p_2" align="center">Abstract</p>
                  <p class="p_1">With the advent of distributed ledger systems
                    that possess the ability to perform as intended without the
                    threat of malicious intervention, we have the power to
                    place code as law and thus removing virtually all forms of
                    trust in any such system. The unique value proposition of
                    this project lies both with the capability to transition to
                    a “virtual” system from its initial fiat pegging and the
                    ability to provide a practically stable currency that is
                    essentially free from nefarious manipulation. The main
                    vision of this project is to provide a transparent and
                    reliable monetary system which functions independently of
                    traditional systems and trusted third-parties. The long-
                    term prospect is to provide both the benefits and means of
                    a macro economic transition from fiat currencies to
                    cryptocurrencies.</p>
                  <p class="p_1">The more we understand what gives value to
                    currency we realize that virtual systems with no physical
                    links to traditional systems have the potential to function
                    on a global scale if they provide practical usability with
                    definitive rules in both code and operation. As we analyze
                    the root of perceived value in any fiat pegged or otherwise
                    stable cryptocurrency, there exists nothing other than a
                    unified belief among users of underlying value or concepts
                    to provide volatility mitigation. That belief is formed
                    when a catalyst such as placing a dollar on lien occurs,
                    thereby creating the perception that the user has
                    transferred such value into the tokenized system. This
                    project proposes a different system of “cryptocurrency
                    value transfer with floating cryptocurrency-
                    collateralization” rather than fiat-collateralization or
                    non-collateralization as the mechanism for bringing value
                    to each token; thus removing reliance and trust on
                    traditional systems.</p>
                  <a name="introduction" style="position:relative; top:-90px;">
                  </a>
                  <p class="p_2" align="center">Introduction</p>
                  <p class="p_1">The information within the abstract is
                    accomplished summarily through a combination of
                    fundamentals in the governance and token issuance systems.
                    The governance system ensures overall functionality without
                    compromising decentralization by giving users across all
                    levels, respective avenues of access to perform
                    collaboratively on modifying any function of the system.
                    The issuance system provides the potential for open market
                    volatility mitigation and liquidity via backing, persistent
                    token issuance as required and fundamentally regulated
                    stability through price pegging. Backing is provided via a
                    floating (either partial or over) cryptocurrency-
                    collateralization as currencies received by the system are
                    largely retained for future trade through open markets in
                    return for <i>Sphinks Tokens (Sphinks)</i> at predetermined
                    thresholds. Token issuance essentially operates in the way
                    that each request to exchange cryptocurrencies with the
                    system is calculated at the time to maintain an issuance
                    ratio value of 1 token per 1 U.S. Dollar (USD). The use of
                    fiat value is a stepping stone toward the long-term
                    objective of switching to a virtual system as explained
                    under the section <i>fiat inflation contingency</i>.</p>
                  <p class="p_1">As a user can always purchase directly from
                    the issuance system with relative ease, the stability
                    against upward pressure from the open market is gained by
                    the incapability to trade tokens for a higher value than
                    the pegging. The stability against both upward and downward
                    pressure is inherited through the value transfer model,
                    creating a user-based reliance whereby having placed a
                    dollar value into each token upon purchase, users would
                    expect to retain such value and therefore would not be
                    likely to trade out for other than what was placed in those
                    initial holdings (further details against such pressures
                    are explained under the section <i>Fiat inflation
                    contingency</i>).</p>
                  <p class="p_1">Trust in developer control over the system
                    will not be necessary due to the system of governance
                    preventing any changes that the broader community may not
                    agree upon, therefore employing a decentralized system that
                    automatically evolves into a highly decentralized system
                    when the developers access to code ceases (further
                    information can be found under the <i>Governance</i>
                    section). Due to the project development process, the
                    governance system does not exist within the initial phase
                    although it has been partially referenced in this document
                    for ease of understanding as to how the system is to
                    function upon full development.</p>
                  <p class="p_1">The project is open source, operating on the
                    NEM platform initially, and each token is divisible to 6
                    decimal places.</p>
                  <a name="tokenIssuance"
                    style="position:relative; top:-90px;"></a>
                  <p class="p_2" align="center">Token issuance</p>
                  <p class="p_1">The main purpose of the issuance system is to
                    be constantly available via the wallet to produce new
                    tokens at a rate congruent with user requirement. The
                    system continuously queries cryptocurrency to USD prices to
                    determine the production value of a single token at any
                    given time.</p>
                  <p class="p_1"><i>A brief explanation of the issuance process
                    is as follows:</i><br>A user wants to purchase a single
                    token from the issuance system using Bitcoin (BTC). They
                    create an order through their wallet and send their BTC to
                    the issuance system. The order then processes through a
                    queue and upon the trade being executed, the system queries
                    the BTC value in relation to USD and generates the
                    equivalent USD value worth of <i> Sphinks</i> to send in
                    return. Limitations throughout the token issuance process
                    are designed to mitigate potential manipulation of
                    fundamentals within the system and encourage trades to
                    occur peer-to-peer while maintaining convenience of use.
                    </p>
                  <p class="p_1"><i>The specific process is as follows:</i><br>
                    Price data of all cryptocurrencies that are accepted by the
                    issuance system are displayed within the <i>Sphinks</i>
                    wallet application. Trade requests are established through
                    the wallet by sending a zero-sum transaction from the token
                    issuance page and including within the message field the
                    address where the crypto being traded is sent from. The
                    user then has 14 days for their funds to be received by the
                    system before the order is canceled (any cryptocurrencies
                    received by the system that do not have an open order are
                    automatically returned). Received cryptocurrencies then
                    require approximately 1 hours’ worth of confirmations
                    before entering the queue whereby each trade is executed at
                    a maximum of 2,000 <i>Sphinks</i> before the system
                    executes on the next order in queue; an order is complete
                    when the queue has repeated enough times to clear the order
                    total. The system is rate limited to 1 transaction per
                    second and trade amounts are calculated as they are
                    executed upon.</p>
                  <p class="p_1"><i>An example of the specific process is as
                    follows:</i><br>A user wants to trade 4 BTC with a market
                    value of 4,000 <i>Sphinks</i>. The user opens an order with
                    the issuance system through the <i>Sphinks</i> wallet by
                    sending a zero-sum transaction from the token issuance page
                    and including within the message field the address where
                    the crypto being traded is sent from. Confirmation details
                    are displayed and the 14-day timer begins for the
                    cryptocurrencies to be received and confirmed. In this
                    example, after approximately one hour it is confirmed the
                    cryptocurrencies are received, the order is then placed in
                    the queue of a hypothetical amount of 60 orders and hence
                    anywhere up to 60 seconds later, the order will be executed
                    upon at the maximum per trade allowance of 2,000 <i>Sphinks
                    </i>. Assuming half the orders in the queue were under the
                    per trade limit and no further orders had been created, the
                    system would return to the example order within
                    approximately 30 seconds and execute on the remaining 2,000
                    <i>Sphinks</i>. Once the total funds received are cleared
                    by the queue system, the order is finalized and the new
                    tokens are sent to the users address. Hypothetically, from
                    the time of opening the order to executing trades, the
                    value of BTC differed from the initial value to where it
                    was 1% lower upon the first execution and 1% higher upon
                    the second, the user in that case would receive their
                    expected 4,000 tokens.</p>
                  <p class="p_1"><i>Further issuance system details:</i><br>The
                    issuance system initially accepts Bitcoin (BTC) followed
                    soon thereafter by Ethereum (ETH). The issuance system will
                    be easier and free to use (no transaction cost) upon future
                    development. Additional cryptocurrencies will be accepted
                    over time via either the voting process or direct developer
                    addition although for developer consideration,
                    cryptocurrencies should preferably qualify as being an open
                    source project, have a <i>Sphinks</i> pairing on the open
                    market and be within the top 200 by market capitalization.
                    Any cryptocurrencies received by the system that the
                    developer deems as “less certain long-term projects” will
                    be converted into what the developer believes to be less
                    speculative cryptocurrencies such as BTC (backing will
                    still be available to those “less certain long-term
                    projects” at the predetermined thresholds).</p>
                  <p class="p_1">A separate system will be operated to monitor
                    the open market for low liquidity or pricing variances
                    between <i>Sphinks</i> and all cryptocurrencies that are
                    accepted by the issuance system. If predetermined
                    thresholds are met and maintained for a certain amount of
                    time, the system will notify the developer who will then
                    determine whether to release held cryptocurrencies onto
                    those markets in trade for <i>Sphinks</i>. It is
                    anticipated that this system will be automated and
                    decentralized in the future to help maintain stability and
                    mitigate market manipulation.</p>
                  <p class="p_1">A system of automatic “dumping” protection
                    will exist to prevent cryptocurrencies that are
                    experiencing significant price decreases from being
                    offloaded onto the issuance system. It functions by
                    monitoring the price difference of the previous two hours
                    and if price has decreased by a certain percentage within
                    the previous hour without having increased by the same
                    amount within the hour before, protection is then
                    activated. The system is designed to be active only during
                    abnormal conditions and hence attempts to avoid triggering
                    over standard price fluctuations.</p>
                  <a name="governance" style="position:relative; top:-90px;">
                  </a>
                  <p class="p_2" align="center">Governance</p>
                  <p class="p_1">As previously mentioned, the developer is
                    initially in control of the code-base and currently any
                    information relating to governance is simply to explain how
                    the basic governance system is intended to function upon
                    full development and therefore, not all features of this
                    system are divulged here at this time.</p>
                  <p class="p_1">The developers unhindered access to code is
                    necessary for applying upgrades and unforeseen fixes,
                    however, some degree of trust is required if the developer
                    is virtually unchallenged in making such changes,
                    therefore, a system of voting is implemented that allows
                    for system-wide fixes and changes to occur without
                    compromising decentralization.</p>
                  <p class="p_1">The voting system is weighted dependent on
                    how many tokens an address holds and new or recently
                    transferred tokens will be unable to vote for a certain
                    amount of time. Voting weight is calculated as each token
                    equaling 1 point; points are pooled into their respective
                    fields and are converted into percentages for comparison
                    upon final tallies. It is not mandatory to vote and
                    proposals for changes are categorized into either new
                    feature, current feature modifications/removals or direct
                    developer changes. Users will have a varied amount of time
                    to vote on any given change dependent on the category. The
                    developer initially retains a 30% voting right (any funds
                    held in <i> Sphinks</i> will not be utilized for additional
                    voting rights).</p>
                  <p class="p_1">All aspects of the system are open for change
                    and the voting requirement for implementation is 60%.
                    Separate methods for instituting changes exist dependent on
                    whether it is the developer or the community who are
                    requesting a change. The developer may only execute changes
                    directly upon the system that relate to security/bug fixes
                    or are minute changes that do not affect any core
                    functionality, while any other proposed developer changes
                    will be subject to the community voting process. Community
                    requests for changes are raised by any individual willing
                    to institute a proposal, allowing the community to
                    implement changes directly upon the system themselves.
                    There is a system cost before a proposal is accepted into a
                    category where other users can manually browse and vote
                    upon them. Proposals that gain 5% of the averaged total
                    weighting as was gained by the previous 10 implemented
                    proposals are activated for community voting.</p>
                  <p class="p_1">Any direct developer changes can be flagged by
                    the community to vote upon if they so choose to, however,
                    the same weighting as for activating community proposals is
                    required. If developer changes are flagged, they are
                    automatically reverted until community voting occurs. Costs
                    to implement approved community proposals will remain at
                    the developer’s expense.</p>
                  <p class="p_1">All voting categories, other than direct
                    developer and flagged changes, have a 21-day voting window;
                    direct developer changes that are flagged by the community
                    have a 3-day voting window. The period for which voting
                    inability of new or recently transferred tokens is 28 days.
                    Votes may be changed at any time during the voting window
                    though there is a small fee to do so. Notifications for new
                    proposals will display for anyone running the wallet.</p>
                  <p class="p_1">If the developer does not access the system
                    for a period of one year, their functions are automatically
                    removed and replaced with community elected custodians
                    along with other supporting positions to ensure continued
                    functionality in a decentralized manner. Removal of the
                    developer will trigger two to five custodians to be voted
                    upon dependent on how the votes were spread. Custodians
                    receive reduced capabilities such as having no developer
                    voting rights, thereby further decentralizing the system;
                    their main functions will be to implement security/bug
                    fixes along with performing other operational functions.
                    Users may also change their voting preferences at any time
                    (subject to a minute fee) and hence cause under-performing
                    custodians to be replaced should they lose enough
                    preferential votes.</p>
                  <a name="fiatInflationContingency" style="position:relative;
                    top:-90px;"></a>
                  <p class="p_2" align="center">Fiat inflation contingency</p>
                  <p class="p_1">For easily obtainable stability and ease of
                    use during the early stages of adoption and development,
                    the system initially utilizes the value of the USD,
                    however, simply pegging to fiat without any contingencies
                    is unrealistic for the long-term due to the <i>inevitable
                    fiat hyper-inflation</i> and as such, any solid-pegged
                    stablecoin in turn would suffer the same devaluing fate.
                    Pegging to other physical commodities or systems would not
                    necessarily function optimally either due to
                    susceptibilities of supply & demand manipulation. For these
                    reasons, <i> Sphinks</i> can either convert at any time to
                    another fiat type (still not ideal for the long-term) or
                    switch to a virtual system as outlined in the following
                    proposal.</p>
                  <p class="p_1">A proposal could be instituted whereby the
                    community can vote for a switch from the fiat pegged system
                    to a significantly different virtual system. This system
                    operates by utilizing a global collective determination of
                    users in quasi-agreement of the tokens perceived USD pegged
                    value as it was at the time of the break. The belief of
                    perceived value as the stable mechanism has the potential
                    to be existentially viable within the system as users must
                    place a dollar value into purchasing each token initially
                    with both the intent and expectation of retrieving no more
                    or less than such value upon disposal. In a larger sense,
                    the global economic ecosystem determines the perceived
                    value through the combination of reacting and adjusting to
                    supply & demand of variances in open market token valuation
                    and token value placed on products and services.</p>
                  <p class="p_1">The stability against pressures is inherited
                    from the combination of majority agreement on perceived
                    value and robust levels of supply & demand. With a large
                    enough user-base adhering to the fundamentals, the system
                    would be self-adjusting for if supply were low and hence
                    value increased, more users would sell to take advantage of
                    the increased prices. Likewise, if users were willing to
                    devalue their holdings and sell for less than the perceived
                    value, others would purchase those devalued tokens. In
                    either case, factoring in market manipulators and
                    collateralized backing, deviations from standard values are
                    likely unsustainable for any meaningful amount of time.</p>
                  <p class="p_1">As users may perceive the value of a “dollar”
                    to continue to remain as it is at the time of the break,
                    the value from that point onward could be virtually
                    solidified to <i>Sphinks</i> and therefore retaining its
                    buying power for potential long-term reliability. A major
                    benefit of this virtual setup is gaining a system which,
                    once established, has the potential to exist virtually
                    indefinitely as it is not susceptible to geopolitical
                    inflation. In the case where <i>Sphinks</i> were to be
                    widely adopted as a major unit of measure, trading for
                    other than what is considered the standard value would not
                    necessarily reflect on the perceived value of <i>Sphinks
                    </i> but rather reflect the value of the paired market in
                    comparison, in which case stability in the token is easily
                    achievable. This situation can be thought of as how the
                    pricing between fiat and cryptocurrency markets operate
                    where a change in the price is known/believed to always be
                    a change on the cryptocurrency side.</p>
                  <p class="p_1">An intermediary phase can be utilized
                    depending on the level of adoption at the time of the fiat
                    break which would be implemented if there were a level of
                    only semi-adoption where the user-base would not be large
                    enough to maintain uniform values between markets. This
                    temporary phase would utilize a cryptocurrency “pegging”
                    as detailed below to maintain a close level of accuracy
                    across markets within the token issuance system.</p>
                  <p class="p_1">In the semi-adoption phase, stability across
                    markets may be achieved through the same collective
                    determination of the perceived value of <i>Sphinks</i> in
                    addition to pegging through another cryptocurrency. The
                    utilized cryptocurrency in this instance will be BTC;
                    acting as a window of entry for all other cryptocurrencies
                    (Altcoins). To ensure accuracy across Altcoin markets
                    within the token issuance system and negate susceptibility
                    to market forces, Altcoin value will be determined based
                    upon the flow of Altcoin to BTC (in USD) to <i>Sphinks</i>,
                    rather than Altcoin to <i>Sphinks</i> directly. For
                    example, if on the open market, 1 BTC equaled $1001 USD/
                    1,000 <i>Sphinks</i>, 1 ETH equaled $299 USD/300 <i>Sphinks
                    </i> and a user traded 1 ETH with the issuance system, the
                    calculation would be 299/1001=0.2987013 x 1000=298.701299
                    <i>Sphinks</i>. Users trading between <i>Sphinks</i> and
                    Altcoins on the open market can query the issuance system
                    at any time for a more accurate display of market prices.
                    </p>
                  <p class="p_1">Upon implementation of the fiat inflation
                    contingency, the use of the issuance system to provide
                    partial stability becomes obsolete and, as such, the
                    remaining function is to provide new tokens at a rate
                    congruent with user requirements. This setup allows for
                    growth while avoiding issues inherent with deflationary/
                    unmitigated inflationary systems when it comes to forming a
                    long-term, reliable monetary system.</p>
                  <a name="additionalDetails" style="position:relative;
                    top:-90px;"></a>
                  <p class="p_2" align="center">Additional details</p>
                  <ul class="p_1" type="square">
                    <li>The system initially utilizes <a 
                      href="https://coinmarketcap.com" target="_blank">
                      CoinMarketCap.com</a> for price acquisition although
                      future upgrades will likely aggregate data directly from
                      decentralized exchanges.</li>
                    <li>As this project is bootstrapping, initial funds
                      received by the issuance system will not be used
                      primarily for backing as described under <i>Introduction
                      </i> but will rather be utilized for exchange listings,
                      construction of future developments, marketing, etc.</li>
                    <li>However obvious, it is noteworthy to mention that
                      instability in token price and illiquidity is anticipated
                      during the early stages of development until a large
                      user-base is built. The difference between how the
                      developer expects this project to function and the
                      resulting function is unknown until large scale adoption;
                      an experiment worth pursuing though.</li>
                    <li>An issue exists where received funds could be utilized
                      to recirculate back into the issuance system which would
                      essentially produce fiat currency (creating <i>Sphinks
                      </i> with no value sacrificed). As the developer
                      understands the harm this could pose to the system,
                      anyone who understands how to monitor the markets for
                      such actions is encouraged to do so to ensure the
                      developer is complying with their intentions not to abuse
                      this problem. The issue is resolvable in time as features
                      within future developments will provide a fix. In the
                      interim, the risk for the developer abusing the system is
                      with open source code allowing anyone to hard fork and
                      implement a different system of governance.</li>
                    <li>Please be aware, as this is the initial implementation
                      of the project, it is recommended that you do not
                      transact with the token issuance system in any amount
                      that you cannot afford to lose until it has been
                      sufficiently tested at scale over time.
                    </li>
                  </ul>
                  <a name="futureDevelopments" style="position:relative;
                    top:-90px;"></a>
                  <p class="p_2" align="center">Future developments</p>
                  <p class="p_1"><i>Sphinks</i> is an ongoing project designed
                    to be a reliable and useful currency for the future and
                    therefore, when innovative ideas or technologies are
                    developed, it would absolutely be proposed to incorporate
                    such advancements if practical. The initial stage of the
                    project provides basic functionality and has much to
                    develop, most notably the implementation of a standalone
                    system (V1.0), though the developer is dedicated to
                    implementing this as soon as practically possible taking
                    quality, security, and ease of use into high regard. The
                    standalone version is expected to possess at least the
                    following additional features: Integration of
                    interoperability technologies such as the lightning
                    network, greater scalability and near-instant transactions
                    (likely via a Directed Acyclic Graph structure), Testnet
                    along with simulations for the fiat inflation contingency,
                    quantum computing resistance, privacy features,
                    decentralized exchange, smart contracts (to a degree) and a
                    modified Proof of Stake consensus algorithm referred to as
                    Selected Proof of Stake (SPoS).</p>
                  <p class="p_1">A system will be implemented where the staking
                    reward is paid in another token called "Lava" which would
                    then be the medium used to cover transaction, community
                    proposal and exchange fees. In this way, users who
                    contribute to the network will essentially receive free
                    transactions and exchanges (aside from the cost of
                    electricity in staking), otherwise if a user has produced
                    no Lava on their account, they may either purchase from
                    others or simply pay fees in <i>Sphinks</i> which would
                    then automatically convert to Lava through the wallets
                    in-built exchange. Each Lava token, whether minted or
                    bought, self-destructs after one month. The main purpose of
                    Lava is to move the inflationary pressures of a PoS system
                    outside of the stable network.</p>
                  <a name="changeLog" style="position:relative; top:-90px;">
                  </a>
                  <p class="p_2" align="center">Change log</p>
                  <ul class="p_1" type="square">
                    <li>Nothing to report.</li>
                  </ul>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
