
<table class="table_0">
  <tr>
    <td class="td_0" align="center">
      <table class="table_1">
        <tr>
          <td>
            <table>
              <tr>
                <td class="td_1" align="center">FAQ</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <td class="td_2">
                  <ul type="square"><br>
                    <li>What are open and decentralized cryptocurrencies and
                      blockchains; how do they function and what are the
                      benefits?</li><br>
                    <p>Cryptocurrencies are tradeable digital tokens with a
                      price determined by supply & demand based on its value
                      proposition. A blockchain is essentially the digital
                      ledger on which the tokenized transactions are recorded.
                      </p>
                    <p>A blockchain is more aptly referred to as a Distributed
                      Ledger Technology (DLT) due to the decentralized nature
                      of how transactions are recorded and verified. Blocks of
                      transaction data are added to the ledger on a continual
                      and predetermined basis by anybody who is willing to
                      direct their computer resources to process the data
                      (these computers are referred to as nodes).</p>
                    <p>As there is no central authority to whom we must trust
                      to issue the true version of a blockchain, the network
                      must come to a majority consensus on what is true
                      (various types of consensus mechanisms exist to achieve
                      this). Legitimate transactions are those that most users
                      on the network agree are valid blocks, while non-valid
                      blocks are discarded by the network. When a node submits
                      a block which the network agrees is valid and therefore
                      continues to build upon, the nodes efforts in processing
                      the data is financially rewarded (usually with
                      transaction fees/newly created tokens). If a node submits
                      a block that contains intentionally false transaction
                      data, it is rejected by the network and the nodes efforts
                      in creating the block is lost (along with any other
                      assets involved in the consensus mechanism). These
                      mechanisms incentivize nodes to act honestly in
                      processing valid transactions.</p>
                    <p>A properly decentralized system means that there are no
                      central servers or systems to trust or rely upon as
                      almost anyone can process data for the network. An open
                      system means that the code is entirely visible and
                      therefore checkable and usable by anyone. This open and
                      decentralized combination is a major part of what gives
                      every user the power over their own funds. Such systems
                      are capable of transferring value of any amount, anywhere
                      across the globe, at any time of any day and verified as
                      virtually immutable within an hour (which is a major
                      advancement to the current banking system).</p>
                    <li>What is the official name given to Sphinks Tokens on
                      the NEM platform and how are the Namespaces/Mosaics
                      named?</li><br>
                    <p>The full name of tokens currently in circulation is
                      “sphinks:token”. Initially, tokens exist on the NEM
                      platform as “Mosaics” under “Namespaces”. Namespaces are
                      akin to domain names that may or may not have sub-
                      domains, while a Mosaic is a group of tokens which have a
                      maximum supply of 9 billion.</p>
                    <li>Do the project shareholder(s) accept the return of
                      tokens?</li><br>
                    <p>Tokens are supplied at a ratio of 1:1 USD. The project
                      shareholder(s) cannot guarantee the ongoing value of
                      tokens as token value is determined solely upon the open
                      market. While the project shareholder(s) cannot provide
                      any guarantee, they are however incentivized to trade on
                      the open market wherever/ whenever possible to maintain
                      stable prices. Please review the whitepaper for more
                      information about this project.</p>
                    <li>Why is the token issuance system unavailable to persons
                      within America and Australia?</li><br>
                    <p>Until this project either reaches the envisioned level
                      of true decentralization or determines/meets potential
                      regulatory requirements, the founder is not willing to
                      jeopardize the future of the project by having supplied
                      an unregulated financial product to countries that have
                      the ability to prosecute should they so choose to. 
                    </p>
                  </ul>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
