
.td_1 {
  vertical-align: top;
}

.td_2 {
  width: 500px;
  height: 40px;
  background: url("../../../assets/images/line.png");
  background-size: 100% 100%;
  padding-left: 100px;
  font-size: 16px;
  color: black;
}

.td_3 {
  width: 750px;
  padding-bottom: 30px;
  font-size: 14px;
}

.td_3 p {
  padding-left: 30px;
}
