
<table>
  <tr>
    <td class="td_1">
      <table>
        <tr>
          <td class="td_2">Introduction</td>
        </tr>
      </table>
    </td>
    <td class="td_3">
      <p>Decentralized cryptocurrencies are digital systems that utilize
        consensus mechanisms to create fair and trust-less participation within
        a network. This empowers each and every user with control over their
        own funds and any accompanying features.</p>
      <p>There are various levels and types of cryptocurrencies that cover a
        large spectrum of what such technologies can provide, <i>Sphinks Token
        (Sphinks)</i> is of a class known as "stablecoins" which have the
        capacity to act as a unit of measure, medium of exchange and store of
        value. Transparent stablecoins built with no central authority are an
        evolution in money; some of the benefits that this project aims to
        provide include:</p>
      <ul type="square">
        <li>No account servicing fees.</li>
        <li>Negligible transaction fees.</li>
        <li>Immutable payments.</li>
        <li>No barriers to entry - accounts may be created by anyone with
          access to the internet.</li>
        <li>Private and untraceable transactions via anonymous accounts.</li>
        <li>100% network uptime. Funds can be sent anywhere in the world, on
          any day and at any time, regardless of public holidays/weekends.</li>
        <li>No identity theft can occur as user’s personal information is not
          gathered.</li>
        <li>Control over funds - nobody other than the keyholder can access
          funds within the account and as such, bail-ins, fraudulent activity
          and “account garnishing” cannot occur.</li>
        <li>Censorship-resistance - funds can be spent however you like.</li>
        <li>Inability to forge tokens as they are protected by cryptography.
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="td_1">
      <table>
        <tr>
          <td class="td_2">Vision</td>
        </tr>
      </table>
    </td>
    <td class="td_3">
      <p>The <i>Sphinks</i> project focuses on harnessing open and
        decentralized technologies to provide user-friendly monetary systems
        with next-gen features. It includes private accounts and transactions,
        smart contracts, fee-less and near-instant transactions, zero reliance
        on traditional systems and trusted third-parties, high-throughput for
        global merchant and consumer adoption and a decentralized exchange with
        negligible exchange fees.
      </p>
    </td>
  </tr>
  <tr>
    <td class="td_1">
      <table>
        <tr>
          <td class="td_2">How Sphinks works</td>
        </tr>
      </table>
    </td>
    <td class="td_3">
      <p><i>Sphinks</i> initially pegs token value to the U.S. Dollar through a
        method of “cryptocurrency value transfer with floating cryptocurrency-
        collateralization” for easily obtainable stability. As simply pegging
        to fiat is unrealistic in the long-term due to inflationary issues
        within fiat systems, <i>Sphinks</i> can implement a unique break-away
        system that effectively places all participants in a global collective
        determination of a dollar value, hence creating a technologically
        advanced and virtually indefinite form of money. The <i> Sphinks</i>
        project is open-source and initially operates on the NEM platform.
        Please refer to the FAQ and whitepaper for a detailed explanation of
        how <i>Sphinks</i> functions both now and in the future.
      </p>
    </td>
  </tr>
  <tr>
    <td class="td_1">
      <table>
        <tr>
          <td class="td_2">ICO</td>
        </tr>
      </table>
    </td>
    <td class="td_3">
      <p><i>Sphinks</i> is running an ICO period - begins 10 August 2019 and
        ends 10 October 2019 with a target of 5 million. Tokens are available
        for only $0.10 via the wallets issuance system.
      </p>
    </td>
  </tr>
</table>
